<nav>
  <div class="container">
    <div class="logo">
      <img src="./assets/img/FiSearch_logo.png">
    </div>
    <div class="searchbar">
      <form>
        <input type="search" placeholder="Zoeken...">
        <button type="submit">
          <img src="./assets/img/search_icon.png">
        </button>
      </form>
    </div>
    <div class="buttons">
      <button class="upload">Upload</button>
      <button class="logout"></button>
    </div>
  </div>
</nav>
<div class="clear-nav"></div>
