<nav>
  <div class="container">
    <div class="logo">
      <a routerLink='/' routerLinkActive="active">
        <img src="./assets/img/FiSearch_logo.png">
      </a>
    </div>
    <!-- <div class="searchbar">
      <form>
        <input type="search" placeholder="Zoeken...">
        <button type="submit">
          <img src="./assets/img/search_icon.png">
        </button>
      </form>
    </div> -->
    <div class="buttons">
      <button *ngIf="this.tokenService.loggedIn()" routerLink="/upload" routerLinkActive="active" class="upload">Upload</button>
      <button *ngIf="this.tokenService.loggedIn()" (click)="logOut()" routerLinkActive="active" class="logout"></button>
    </div>
  </div>
</nav>
<div class="clear-nav"></div>
