<div class="center">
  <h1>Welkom terug</h1>
  <form (ngSubmit)="onSubmit()">
    <input type="text" name="username" placeholder="Gebruikersnaam" value=""[(ngModel)]="username">
    <input type="password" name="password" placeholder="Wachtwoord" value="" [(ngModel)]="password">
    <div class="remember">
      <input [(ngModel)]="remember" name="remember" id="remember-me" type="checkbox">
      <label for="remember-me">Ik wil ingelogd blijven</label>
    </div>
    <button type="submit">Log in</button>
  </form>
  <div class="login-error">
    <p>{{ errorMessage }}</p>
  </div>
</div>