.container {
    margin: 0 auto;
    padding: 0 25px;
    text-align: center;
    max-width: 1140px;
}

header {
    border-bottom: 1px solid #e6e6e6;
    margin: 0;
    height: 120px
}

header .logo {
    height: 50px;
    margin: 35px 25px 35px 0;
    float: left;
}

header h1 {
    margin: 32px 0;
    float: left;
    font-size: 36px
}

header form {
    text-align: center;
    margin: 40px auto;
    position: absolute;
    left: 0;
    right: 0;
}

header input[type=search] {
    padding: 5px 15px;
    width: 40%;
    max-width: 500px;
    min-width: 250px;
    border-left: 2px solid #e6e6e6;
    border-top: 2px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
    border-right: none;
    border-radius: 20px 0 0 20px;
    margin: 0;
}

header input[type=search]::placeholder {
    color: #c6c6c6;
}

header input[type=submit] {
    color: #fff;
    height: 39px;
    width: 60px;
    position: absolute;
    background-color: #e30f21;
    border: none;
    border-radius: 0 20px 20px 0;
    text-indent: -5px;
}

header button {
    float: right;
    width: 120px;
    height: 40px;
    background-color: #e30f21;
    border-radius: 6px;
    border: none;
    margin: 40px 0 0 0;
}

.breadcrumbs {
    height: 46px;
    border-bottom: 1px solid #e6e6e6;
}

.breadcrumbs--home {
    float: left;
    height: 25px;
    margin: 10.5px 0;
}

main {
    min-height: calc(100vh - 168px);
}

.filters {
    min-height: calc(100vh - 168px);
    height: 100%;
    width: 20%;
    text-align: left;
    margin: 0;
    padding: 25px 0;
}

.filters--title {
    margin: 0;
    padding: 0;
}





///////////////////////////

body{
    margin: 0;
    padding: 0;
}

.loginBox{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 200px;
    background-color: white;
    /*border-radius: 10px;
    border: 1px solid #e6e6e6;*/
    padding: 40px;
}

#loginIMG{
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    max-width: 30%;
    max-height: auto;
   
}

h1{
    margin: 0;
    padding: 0 0 20px;
    color: #262626;
    text-align: center;
}

.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"], .loginBox input[type="password"] {
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: #262626;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
    
}

.loginBox input[type="text"]:focus, .loginBox input[type="password"]:focus {
    border-bottom: 2px solid #f00;
    
}

.inputBox{
    position: relative;
}

.inputBox span {
    position: absolute;
    top: 10px;
    color: #262626;
}

.loginBox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #E30F21;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.loginBox a {
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
   
}

.loginBox input[type="checkbox"]{
    padding: 0;
    margin: 0;
    
}
