<div class="center">
  <img class="ehb-logo" src="./assets/img/ehb_logo_full.png">
  <h1>Naar welk eindwerk bent u op zoek?</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="search-options">
      <input [(ngModel)]="searchterms" type="search" name="searchterms" value="" placeholder="Zoektermen...">
      <input [(ngModel)]="author" type="text" name="author" value="" placeholder="Auteur...">
      <select [(ngModel)]="department" name="department">
        <option value="" selected>Alle departementen</option>
        <option *ngFor="let department of departments" value="{{ department }}">{{ department }}</option>
      </select>
      <button type="submit">Zoeken</button>
    </div>
  </form>
</div>