.center{
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ehb-logo {
    height: 75px;
}

.search-options {
    box-sizing: border-box;
    background-color: #fff;
    width: 620px;
    border-radius: 6px;
    margin-top: 10px;
}

.search-options input[type='search'] {
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin-bottom: 25px;
    -webkit-transition: border-color 0.2s ease-out;
    -moz-transition: border-color 0.2s ease-out;
    -o-transition: border-color 0.2s ease-out;
     transition: border-color 0.2s ease-out;
}

.search-options input[type='search']::placeholder {
    color: #c6c6c6;
}

.search-options input[type='text'] {
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-right: 25px;
    width: 35%;
    -webkit-transition: border-color 0.2s ease-out;
    -moz-transition: border-color 0.2s ease-out;
    -o-transition: border-color 0.2s ease-out;
     transition: border-color 0.2s ease-out;
}

.search-options input[type='text']::placeholder {
    color: #c6c6c6;
}

.search-options input[type='text']:focus {
    border-color: #bfbfbf !important;
    -webkit-transition: border-color 0.2s ease-out;
    -moz-transition: border-color 0.2s ease-out;
    -o-transition: border-color 0.2s ease-out;
     transition: border-color 0.2s ease-out;
}

.search-options input[type='search']:focus {
    border-color: #bfbfbf !important;
    -webkit-transition: border-color 0.2s ease-out;
    -moz-transition: border-color 0.2s ease-out;
    -o-transition: border-color 0.2s ease-out;
     transition: border-color 0.2s ease-out;
}

.search-options select {
    background: transparent;
    border: 1px solid #e6e6e6;
    height: 47.5px;
    color: #222;
    width: 35%;
    margin-right: 25px;
    outline: none;
}

.search-options button {
    background-color: #e30f21;
    color: #fff;
    border: none;
    border-radius: 6px;
    height: 45px;
    width: calc(30% - 50px);
    margin-bottom: 25px;
}

.more-filters {
    color: #e30f21;
    text-decoration: underline;
    cursor: pointer;
}