<div class="container">
  <div class="filters">
    <h2>Filters</h2>
  </div>
  <div class="clear-filters"></div>
  <div class="results">
    <div>
      <div *ngFor="let result of results" class="result">
        <img class="thumbnail" src="https://via.placeholder.com/141x200/e6e6e6/.jpg">
        <div class="info">
          <h2>{{ result.finalworkTitle }}</h2>
          <p class="author">{{ result.finalworkAuthor }}</p>
          <p class="description">{{ result.finalworkDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</div>