.filters {
    margin: 0;
    width: 250px;
    border-right: 1px solid #e6e6e6;
    height: calc(100vh - 80px);
    position: fixed;
    top: 80px;
}

.filters form {
    width: 210px;
    display: block;
}

.filters input {
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    margin-bottom: 25px;
    padding: 5px 10px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.filters input::placeholder {
    color: #c6c6c6;
}

.filters input:focus {
    border-color: #bfbfbf !important;
    -webkit-transition: border-color 0.2s ease-out;
    -moz-transition: border-color 0.2s ease-out;
    -o-transition: border-color 0.2s ease-out;
     transition: border-color 0.2s ease-out;
}

.filters select {
    background: transparent;
    border: 1px solid #e6e6e6;
    height: 40px;
    width: 100%;
    color: #222;
    margin-bottom: 25px;
    outline: none;
}

.filter-title {
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 5px 0;
}

.filters label {
    font-size: 14px;
}

.filter-year {
    width: 36.5% !important;
    margin-right: 5px;
}

.filters button {
    width: 100%;
    margin: 10px 0;
}

button {
    background-color: #e30f21;
    border-radius: 6px;
    border: none;
    color: #fff;
    padding: 7.5px 0;
    outline: 0;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(228, 54, 69, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    -webkit-transition: box-shadow 0.2s ease-out;
    -moz-transition: box-shadow 0.2s ease-out;
    -o-transition: box-shadow 0.2s ease-out;
}

button:hover {
    box-shadow: 0 5px 10px rgba(228, 54, 69, 0.25);
    transition: box-shadow 0.2s ease-in-out;
    -webkit-transition: box-shadow 0.2s ease-out;
    -moz-transition: box-shadow 0.2s ease-out;
    -o-transition: box-shadow 0.2s ease-out;
    cursor: pointer;
}

.clear-filters {
    min-width: 250px;
    height: 100%;
}

.results {
    width: 100%;
    padding: 25px 0 0 50px;
    box-sizing: border-box;   
}

.result {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    padding: 25px;
    box-sizing: border-box;
}

.results button {
    padding: 10px 0;
    width: 100px;
    margin-left: 25px;
}

.results input[type='search'] {
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
    width: calc(100% - 125px);
    outline: none;
    -webkit-transition: border-color 0.2s ease-out;
    -moz-transition: border-color 0.2s ease-out;
    -o-transition: border-color 0.2s ease-out;
     transition: border-color 0.2s ease-out;
}

.results input[type='search']::placeholder {
    color: #c6c6c6;
}

.info {
    margin-left: 25px;
}

.result img {
    border-radius: 6px;
    width: 140px;
    height: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    object-fit: cover;
}

.info h2 {
    margin: 0;
    max-height: 75px;
    overflow: hidden;
}

.info .author {
    margin: 0 0 0 0;
}

.description {
    max-height: 100px;
    overflow: hidden;
}

.loading-animation {
    display: block;
    margin: 50px auto;
}

.error {
    color: red;
}